// Navbar
.navbar {
    .site-name {
        background: url('~@assets/img/icon.png') left no-repeat;
        background-size: contain;
        padding-left: 2.8rem;
    }
}

// Footer
footer.page-edit .last-updated .prefix {
    color: #004a6b;
}

// Print
@media print {
    @page {
        margin: 2cm;
    }

    body {
        font-size: 14px;
    }

    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }

    .theme-default-content h1:first-child {
        margin-top: 0 !important;
    }

    .navbar, .page-nav, aside {
        display: none;
    }

    footer.page-edit .last-updated .prefix, footer.page-edit .last-updated .time {
        color: black;
    }

    main {
        padding: 0 !important;
        margin: 0 !important;
        color: black;
    }

    p {
        text-align: justify;
    }

    .theme-default-content {
        padding: 0 !important;
        margin: 0 !important;
        max-width: auto;
        position: relative;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^='#']:after, a[href^='javascript:']:after {
        content: '';
    }
}
